*

!/config/
!/config/**
!/resourcepacks/
!/resourcepacks/**
/resourcepacks/Beta Chests.zip
/resourcepacks/S1 Assets.zip
!/resources/
!/resources/**
!/scripts/
!/scripts/**

!.gitignore

!README.md