*
*/resourcepacks/Beta Chests.zip
*/resourcepacks/S1 Assets.zip

!/config/
!/resourcepacks/
!/resources/
!/scripts/
!/config/**
!/resourcepacks/Beta Chests/**
!/resources/S1 Assets/**
!/scripts/**

!.gitignore
!README.md