*

!/config/
!/config/**
!/resourcepacks/
/resourcepacks/Beta Chests.zip
/resourcepacks/S1 Assets.zip
!/resourcepacks/Beta Chests/**
!/resourcepacks/S1 Assets/**
!/resources/
!/resources/**
!/scripts/
!/scripts/**

!.gitignore

!README.md